/*
do not remove
cc license
framework by bleekk
www.bleekk.com
*/

/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}

/******************************************************************/
body, html { 
	background: url('img/background.jpg') repeat top center transparent;
	margin: 0px;
	padding: 0;
	font-family: Verdana, "Trebuchet MS", "Lucida Grande", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
}

.clear {
	clear:both;
	}

p {
	color: #333;
	margin: 0;
	padding: 5px;
}

.row {
	width: 990px;
	margin: 0 auto;
	background: transparent;
	}

.header {
	background: transparent url('img/header-bg.png') no-repeat top center;
	color: #fff;
	display: block;
	float: left;
	height: 110px;
	margin: 0px 0 0 0;
	padding: 50px 0 0 0;
	text-align: left;
	width: 990px;
	z-index: 100;
	}
/*
#xo-main-logo {
         position: relative;
         top: 20px;
         background: transparent;
         left: 180px;
         color: #fafafa;
}*/

.header a {
	background: transparent;
	
	font-size: 2em;
	color: #fafafa;
	padding-left: 190px;
	top: 20px;
	}

.header a:hover {
	background: transparent;
	
	font-size: 2em;
	color: #C7E6E8;
	padding-left: 190px;
	top: 20px;
	}

.header span {
	font-size: 1.2em;
	color: #fafafa;
	display: block;
	padding-left: 190px;
	top: 20px;
	width: 50%;
	
	}


/*============== Styles in userbar.html =================*/
#xo-userbar {
        position: relative;
        top: 15px;
	height: 30px;
	line-height: 30px;
	padding: 5px 0 5px 0;
        right: 40px;
        text-align: right;
	float: right;
	color: #fafafa;
}
#xo-userbar form {
        display: inline;
        padding: 0;
}
#xo-userbar button {
        margin: 0;
        background: transparent none;
        padding: 0;
        color: #fafafa;
        border: 0 none transparent;
}
#xo-userbar button img {
        width: 22px;
        height: 22px;
}
#xo-userbar button:hover {
         border: 0 !important;
 }
#xo-userbar img {
        width: 26px;
        height: 26px;
}
#xo-userbar a {
        color: #ff8811;
        background-color: inherit;
        text-decoration: none;
	font-size: 1.2em;
	margin: 0;
	padding: 0;
}
#xo-userbar a:hover {
        color: #fafafa;
        background-color: inherit;
	font-size: 1.2em;
	margin: 0;
	padding: 0;
}
#xo-uname {
        font-weight: bold;
        font-size: 1.1em;
}


.topmenu {
	background: #3885ab;
	border-bottom: 1px solid #065566;
	width: 990px;
	height: 30px;
	line-height: 30px;
	margin: 0;
	padding: 0px;
	float: left;
	}

.topmenu ul {
	padding: 0px;
	margin: 0;
	text-align: right;
	height: 30px;
	}

.topmenu li {
	background: transparent;
	display: inline;
	margin: 0px;
	padding: 0px 20px 3px 20px;
	font-size: 1.2em;
	line-height: 30px;
	}

.topmenu a {
	color: #ff8811;
	}

.topmenu a:hover {
	color: #fafafa;
	}

.topmenu ul li {
	color: #ff8811;
}

.topmenu ul li:hover {
	color: #fafafa;
	
}

.topmenu ul li:hover a {
	color: #fafafa;
	
}

.topmenu ul li a {
	color: #ff8811;
	
}

.topmenu ul li a:hover {
	color: #fafafa;
}

.content {
	border: none;
	background: #337a9c;
	margin: 0px;
	padding: 0px;
	color: #333;
}

.leftcolumn {
	width: 180px;
	background: transparent;
	margin: 10px 5px 0 0;
	float: left;
}

.rightcolumn {
	width: 180px;
	background: transparent;
	margin: 10px 0 0 5px;
	float: left;
}

.centercolumn {
	background: #C7E6E8;
	margin: 15px 0px 5px 0;
	padding: 5px;
	float: left;
}

.dreispalten-layout {width:600px;}
.zweispalten-layout {width:789px;}

/* FOOTER */
.footer {
	background: #065566;
	width: 990px;
	height: 30px;
	line-height: 30px;
	color: #fafafa;
	text-align: center;
	margin: 0 0 0px 0;
	padding: 0px;
}

.footer a {
	color: #ff8811;
}

.footer a:hover {
	color: #fafafa;
}

/*Content*/
.page-content {
	margin: 5px 0 5px 0;
	padding: 0px;
	float: left;
}

/* Blöcke */
.centerblock-left {
	width: 295px;
	margin: 10px 5px 5px 0;
	overflow: hidden;
	float: left;
}

.centerblock-right {
	width:295px;
	margin: 10px 0 5px 5px;
	overflow: hidden;
	float: left;
}

.centerblock-center {
	margin: 10px 0 5px 0;
	overflow: hidden;
	float: left;
	display: block;
	color: #333;
}

.left-block-container {
	background: transparent;
	border-bottom: 0px solid #ccc;
	border-right: 0px solid #ccc;
	border-top: 0px solid #ccc;
	margin: 0px;
	padding: 5px;
	/*min-height: 200px;*/
	height: 100%;
}

.left-block-title {
	background: #c7e6e8 url(img/title-bg-bl.png) no-repeat scroll left top;
	border: 3px solid #065566;
	color: #333;
	font-size: 1.1em;
	font-weight: bold;
	padding: 5px 3px 4px 3px;
	text-align: center;
	height: 20px;
}

.left-block-content {
	background: #065566;
	border: none;
	padding: 10px;	
	color: #fafafa;
	/*min-height: 115px;*/
	height: 100%;
}

.left-block-content a {
	background: transparent;
	color: #ff8811;
	text-decoration: none;
}

.left-block-content a:hover {
	background: transparent;
	color: #fafafa;
	text-decoration: none;
}

.right-block-container {
	background: transparent;
	border-bottom: 0px solid #ccc;
	border-left: 0px solid #ccc;
	border-top: 0px solid #ccc;
	margin: 0px;
	padding: 5px;
	/*min-height: 180px;*/
	height: 100%;
	
}

.right-block-title {
	background: #c7e6e8 url(img/title-bg-sr.png) no-repeat scroll left top;
	color: #333;
	border: 3px solid #065566;
	font-size: 1.1em;
	font-weight: bold;
	padding: 5px 3px 5px 3px;
	text-align: center;
	height: 20px;
}

.right-block-content {
	background: #065566;
	border: none;
	padding: 10px;
	color: #ff8811;
	/*min-height: 95px;*/
	height: 100%;
}

.right-block-content a {
	background: transparent;
	color: #ff8811;
	text-decoration: none;
}

.right-block-content a:hover {
	background: transparent;
	color: #fafafa;
	text-decoration: none;
}

/*block-title und block-content*/
.block-title {
	background: #c7e6e8 url('img/title-bg-br.png') no-repeat scroll left top;
	border: 2px solid #065566;
	color: #333;
	font-size: 1.2em;
	font-weight: bold;
	margin: 10px 0 0 0;
	padding: 2px 5px 5px 30px;
}

.block-content {
	padding: 5px;
	background: transparent;
	border: none;
	color: #333;
}

.block-content a {
	background: transparent;
	color: #ff8811;
	text-decoration: none;
}

.block-content a:hover {
	background: transparent;
	color: #333;
	text-decoration: none;
}

/* END Blöcke */

/* hypertext links */
a {
	text-decoration: none;
	border: none;
	color: #ff8811;
}
a:hover {
	background: none;
	color: #333;
}

/* titles */
h1, h2, h3 {
	margin: 0;
	font-weight: normal;
	color: #065566;
}
h1 {
	font-size: 1.2em;
}
h2 {
	font-size: 1.3em;
}
h3 {
	font-size: 1.4em;
}
h4 {font-size: 1em;}
h5 {font-size: .9em;}
h6 {font-size: .8em;}

/*listing*/
ul { margin: 0px; padding: 0 0 0 15px;}
li { margin:0px; list-style: square;}

/* block main menu */
#mainmenu {	font-size: 13px;}
#mainmenu a {
  	display: block;
  	margin: 0;
  	border: none;
  	color: #ff8811;
}
#mainmenu a:hover { color: #eee; }
#mainmenu a.menuTop {}
#mainmenu a.menuMain {}
#mainmenu a.menuSub {
	margin: 0;
	padding: 0 0 0 5px;
}
#mainmenu a.menuSub:hover {
	background-color: transparent;
	margin: 0;
	padding: 0 0 0 5px;
	color: #eee;
}

/* block user menu */
#usermenu {	font-size: 13px;}
#usermenu a {
  	display: block;
  	color: #ff8811;
}
#usermenu a:hover { color: #fafafa; }
#usermenu a.menuTop {}
#usermenu a.highlight { background-color: transparent; }

	

/* tables and cells */
table { width: 100%; }
table td {
  	padding: 0;
  	border-width: 0;
  	vertical-align: top;
	background: transparent;
}
/*
table.odd #profile-form-searchform {
	width: 90%;
	background: #eee;
}*/

table.profile-form {
	background: #3885AB;
}

th {
	background: #065566;
	border: 1px solid #3f7abd;
	height: 23px;
	line-height: 23px;
	vertical-align : middle;
  	color: #C7E6E8;
	font-size: 1.2em;
	font-weight: bold;
}
.outer { 
	background: #C7E6E8;
	border: 1px solid #3f7abd;
	margin: 5px 0 0 0;
	color: #333;
}
.head {
  	background-color: #afe5e8;
  	font-weight: bold;
	margin: 0;
	padding: 3px;
	color: #333;
}
.even {
  	background-color: #e4f7f8;
	padding: 3px;
	color: #000;

}
.odd {
  	background-color: #e4f7f8;
	padding: 2px 5px 0px 5px;
	color: #333;

}
.foot {
  	background-color: #C7E6E8;
  	font-weight: bold;
}
tr.even td {
  	background-color: #C7E6E8;
}
tr.odd td {
  	background-color: #C7E6E8;
}

/* Artikel (für zB das news, smartsection modul)*/
.item {margin-bottom: 0px; border: 1px solid #eee; padding: 5px;}
.itemHead {
  	padding: 3px;  
  	color: #fff;
  	font-size: 1.1em;
}
.itemInfo {
  	text-align: right;
  	padding: 3px;
  	background-color: inherit;
}
.itemTitle a {
  	font-size: 1.1em;
  	font-weight: bold;
  	color: #065566;
}
.itemPoster {
  	font-size: .9em;
  	font-style:italic;
}
.itemPostDate {
  	font-size: .9em;
  	font-style:italic;
}
.itemStats {
  	font-size: .9em;
  	font-style:italic;
}
.itemBody {padding-left: 5px;}
.itemText {
  	margin-top: 5px;
  	margin-bottom: 5px;
  	line-height: 1.5em;
}
.itemText:first-letter {
  	font-size: 1.3em;
  	font-weight: bold;
}
.itemFoot {
  	text-align: right;
  	padding: 3px;
  	background-color: #f9f9f9;
}
.itemAdminLink {font-size: .9em;}
.itemPermaLink {font-size: .9em;}

/* Forum */
.comTitle {
  	font-weight: bold;
  	margin-bottom: 2px;
}
.comText {padding: 2px;}
.comUserStat {
  	font-size: 10px;
  	font-weight:bold;
  	border: 1px solid #eee;
  	background-color: #fff;
  	margin: 2px; padding: 2px;
}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {
  	margin-left: 2px;
  	margin-top: 10px;
  	color: #333;
  	font-weight:bold;
  	font-size: .8em;
}
.comUserRank {margin: 2px;}
.comUserRankText {
  	font-size: .8em;
  	font-weight:bold;
}
.comUserRankImg {border: 0;}
.comUserName {}
.comUserImg {margin: 2px;}
.comDate {
  	font-weight: normal;
  	font-style: italic;
  	font-size: .8em
}  
.comDateCaption {
  	font-weight: bold;
  	font-style: normal;
  	font-size: .8em
}
.signature {
  	font-size:.8em;
  	font-style:italic;
}

/* core nachrichten */
.errorMsg {
  	background-color: #FFCCCC;
  	text-align: center;
  	border-top: 1px solid #efffdd;
  	border-left: 1px solid #efffdd;
  	border-right: 1px solid #aaa;
  	border-bottom: 1px solid #aaa;
  	font-weight: bold;
  	padding: 10px;
}
.confirmMsg {
  	background-color: #fff;
  	color: #aa0044;
  	text-align: center;
  	border-top: 1px solid #eee;
  	border-left: 1px solid #eee;
  	border-right: 1px solid #aaa;
  	border-bottom: 1px solid #aaa;
  	font-weight: bold;
  	padding: 10px;
}
.resultMsg {
  	background-color: #c1c1c1;
	font-weight: bold;
  	color: #333;
  	text-align: center;
  	border-top: 1px solid #ccc;
  	border-left: 1px solid #ccc;
  	border-right: 1px solid #666;
  	border-bottom: 1px solid #666;
  	padding: 10px;
}

/* codes and quotes */
.xoopsCode {
	background-color: #fff;
	border: 1px inset #065566;
	font-family: "Courier New",Courier,monospace,verdana;
	max-height: 200px;
	overflow: auto;
}
.xoopsQuote {
	background-color: #fff;
	border: 1px inset #065566;
	font-family: "Courier New",Courier,monospace,verdana;
	font-style:italic;
	padding: 0 6px 6px 6px;
}  